:root {
    --primary-color: #4f7c94;
    --secondary-color:rgb(255, 254, 189);
    --tertiary-color: #858585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 90%; 
    margin: 0 auto;
}

.container h1 {
    float: left;
    border: 2px solid #858585a4;
    color: var(--secondary-color);
    opacity: 0.4;
    margin:  10px 0 10px 0;
    padding: 2px 4px;
    font-weight: 100;
   
   

}

header {
    background: var(--primary-color)
}

header::after {
    content: '';
    display: table;
    clear: both;
}
 


nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 37px;
    position: relative ;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: "";
    display: block;
    height: 2px;
    margin-top: -22px;
    width: 0%;
    background: rgb(255, 254, 189);
    position: absolute;
}

nav a:hover::before {
    width: 100%
} 

.hero h1 {
    text-align: center;
    padding-bottom: 100px;
    color: rgba(43, 113, 187, 0.5);
    text-shadow: 2px 2px 2px rgba(133, 133, 133, .6)
}

.hero {
    color: var(--secondary-color);
    font-size: larger;
    padding: 50px 0px 0px 16px;
    align-content: center;
    background-image: url(./images/debby-hudson-VIr-KKzL2eg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;
    
}

.hero p {
    color: rgba(71, 107, 226, .6);
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 60px;

}

.hero p span {
    font-weight:bold;
    color: rgb(71, 107, 226)
}

.second-para {
    margin-top: 100px;
    margin-right: 80px;
    text-align: right;
}

.about-me {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 500px;
}

.about-me h2 {
    padding-top: 20px;
    margin-left: 60px;
    padding-right: 50%;
    color: rgba(255, 254, 189, .8);
    font-weight: 100;

}

.headshot {
   float: left;
   height: 300px;
   margin: 10px 0 0 60px;
   padding-right: 60px;
}

.about-me p {
    margin: 20px 20px 0 20px;
    padding: 0 20px 20px 0px;
    color: rgba(255, 254, 189, .8);
    text-align: left;
    float: top;
    line-height: 1.5;
}

.portfolio {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 700px;
    flex: auto;
    flex-wrap: wrap;
}

.portfolio h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    padding-right: 50%;
    color: rgba(255, 254, 189, .8);
    font-weight: 100;
}

.runbg {
    height: 300px;
    margin-left: 60px;
    padding-bottom: 20px;
}

.run1 {
   height: 200px;
   margin-left: 60px;
  
}

.run2 {
    height: 200px;

}

.run3 {
    height: 200px;
    
}

.portfolio p {
    margin: 20px 20px 0 60px;
    padding: 0 20px 20px 0px;
    color: rgba(255, 254, 189, .8);
    text-align: left;
    float: top;
    line-height: 1.5;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -35px;
}

.contact {
    background-color: rgba(9, 124, 190, 0.849);
    color: var(--secondary-color);
    width: 100%;
    height: 250px;
    flex: auto;
    flex-wrap: wrap;
}

.contact h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.801);
    border-top: 2px solid #4b4b4b;
    font-weight: 100; 
    text-align: center; 
}

.contact p {
    margin: 20px 20px 0 60px;
    padding: 0 20px 20px 0px;
    color: rgba(245, 245, 245, 0.801);
    text-align: left;
    float: top;
    line-height: 1.5;
    text-align: center;
}

.contact address {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    padding-right: 50%;
    color: whitesmoke;
    font-weight: 100; 
}

.mail {
    margin: 20px 20px 0 60px;
    padding: 0 20px 40px 0px;
    color: whitesmoke;
    text-align: left;
    float: top;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {

.runbg {
    height: 225px;
}    

.run1 {
    height: 150px;
}

.run2 {
    height: 150px;
}

.run3 {
    height: 150px;
    margin-top: 20px;
    margin-right: 314px;
}

.portfolio {
   height: auto;
}

    
@media screen and (max-width: 575px) {

    width: 60%;
}    
